


header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:18px;
  background-color: #2b324f;
  color:white;
}

.header-links p{
  font-size: 10px;
}

header .header-info p,.header-profile{
  font-size:16px;
  font-family: Assistant;
  font-weight: 500;
  cursor: pointer

}
.glyphicon-chevron-down{
  margin: 10px;
}

header .header-profile, .header-info{
  display:flex;
  align-items: center;
}
.header-info p{
  margin-right: 15px;
}

.header-info{
  position: relative;
  top: -10px;
}
header .header-info a{
  padding:3px 10px;
  padding-left: 27px;
  border-radius:20px;
  background-color:#494f68;
  position:relative;
  top: -6px;
  color: white;
  cursor: pointer;
}
.infoimg{
    width: 20px;
  position: relative;
  top: -5px;
  cursor: pointer;
  margin-right:25px;
  margin-left: 15;
}
header .header-info a:before{
  content:" ";
  width:10px;
  height:10px;
  position: absolute;
  top:8px;
  left:10px;
  border-radius:50%;
  border:1px solid white;
  background-color:#8dc63f;
}

header .header-profile-photo{
  background-color:lightgray;
  width:40px;
  height:40px;
  border-radius:50%;
  margin-right:20px;
  border:3px solid white;
}

.bottom-header{
  background-color:#494f68;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:20px;
  position: relative;
}
.bottom-header >*{
  color:white;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: Assistant;
  cursor: pointer;
}

.bottom-header .promocao{
position: absolute;

right: 42%;
}