<header>
  <div class="header-links">
    <p>Minha Farmacia</p>
    <div class="header-info" >
        <p>Farmácia Modelo</p>
        <svg src="../img/info.svg"></svg>
        <a>Aberto agora</a>
    </div>
  </div>
  <div class="header-profile">
     <div class="header-profile-photo">
     </div>
     Glauber Laender<span class="glyphicon glyphicon-chevron-down"></span>
  </div>
</header>
<div class="bottom-header">
<div class="back">
  <span class="glyphicon glyphicon-chevron-left"></span> Voltar
</div>
<div class="promocao">
  <p>Promoção sorte grande</p>
</div>
</div>
