/* You can add global styles to this file, and also import other style files */
*, html, body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
   
  }
  body{
    background-color:#eeeeee;
  }

  
@media screen and (max-width:868px) {
  .wrap-box{

      flex-direction: column;
  }
  .middle .content form{
      width: 122% ;

  }
  form input{
          font-size: 8px;
  }
  .first-sec .background-left{
    width: 25%;
  }
 .middle{
    width: 50% !important;
  }
  .first-sec .background-right{
    width: 25%;
  }
  .first-sec .middle .content form .btn-valid{
    font-size: 8px;
  }


}

@media screen and (max-width:670px){
  .section2 .container-info .box-container{
    flex-direction: column
  }
}
@media screen and (max-width:579px){
  .bottom-header .promocao{
    top: 50px;
   left: 25px;
    }
    .bottom-header .promocao p{
      font-size: 13px
    }
}


