<section class="section2">
  <div class="wrap-box">
            <div class="section-links">
              <p>Como Participar<span class="glyphicon glyphicon-chevron-right icon-arrow"></span></p>
              <p>Regulamento<span class="glyphicon glyphicon-chevron-right icon-arrow2"></span></p>
            </div>
          <div class="container-info">
            <div class="box-container">
              <div class="box-info">
                <header class="header-box"><span class="sorteioHover">Sorteio </span>XPTO</header>
                <p class="box-info-premios"><span class="glyphicon glyphicon-gift "></span> <span class="box-info-first">1</span>4 Prêmios</p>
                <p><span class="glyphicon glyphicon-calendar"></span>sorteio será realizado dia </p>
                <p class="box-info-data"><span class="box-info-first">1</span>5/10/20</p>
                <div class="box-info-notification">
                  Você está participando com <p class="header-box"><span class="box-info-first">1</span>5 números</p>
                </div>
              </div>

              <div class="box-info">
                  <header class="header-box"><span class="sorteioHover">Sorteio </span>XPTO</header>
                  <p class="box-info-premios"><span class="glyphicon glyphicon-gift "></span> <span class="box-info-first">1</span>4 Prêmios</p>
                  <p><span class="glyphicon glyphicon-calendar"></span>sorteio será realizado dia </p>
                  <p class="box-info-data"><span class="box-info-first">1</span>5/10/20</p>
                  <div class="box-info-notification box-notification2">
                    Você não está participando  <a class="header-box ">Saiba como Participar</a>
                  </div>
                </div>
            </div>
            <div class="box-container">
                <div class="box-info">
                    <header class="header-box"><span class="sorteioHover">Sorteio </span>XPTO</header>
                    <p class="box-info-premios"><span class="glyphicon glyphicon-gift "></span> <span class="box-info-first">1</span>4 Prêmios</p>
                    <p><span class="glyphicon glyphicon-calendar"></span>sorteio será realizado dia </p>
                    <p class="box-info-data"><span class="box-info-first">1</span>5/10/20</p>
                    <div class="box-info-notification">
                      Você está participando com <p class="header-box"><span class="box-info-first">1</span>5 números</p>
                    </div>
                  </div>

                  <div class="box-info">
                      <header class="header-box"><span class="sorteioHover">Sorteio </span>XPTO</header>
                      <p class="box-info-premios"><span class="glyphicon glyphicon-gift "></span> <span class="box-info-first">1</span>4 Prêmios</p>
                      <p><span class="glyphicon glyphicon-calendar"></span>sorteio será realizado dia </p>
                      <p class="box-info-data"><span class="box-info-first">1</span>5/10/20</p>
                      <div class="box-info-notification">
                        Você está participando com <p class="header-box"><span class="box-info-first">1</span>5 números</p>
                      </div>
                    </div>
              </div>
            </div>
  </div>

</section>
