.first-sec{
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #135e95;
}


.background-left{
    background-image: url("../img/Capturar.PNG");
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 300px;
}
.middle{
    width: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.middle .content p{
    font-size:35px;
    font-family: Assistant;
    font-weight: 600;
    color:white;
}
.background-right{
    background-image: url("../img/Capturar2.PNG");
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 300px;
}
form{
    margin-top:20px;
    background-color:white;
    width:90%;
    height: 70px;
    padding:10px;
    border-radius:5px;
    border: 1px solid #a91217;
    position: relative;
}
form input{
width:80%;
height: 100%;
border: none;
outline: none;

}
form input::placeholder{
    color:#a91217;
}
form .btn-valid{
    position: absolute;
    right:2%;
    background-color:#a91217;
    font-size:18px;
    font-family: Assistant;
    border:none;
    height:50px;
    color:white;
    padding:7px 20px;
    border-radius:5px;
}

form .btn-valid:active{
    transform: translateY(2px)
}
