<section class="first-sec">
  <div class="background-left"></div>
  <div class="middle">
    <div class="content">
      <p>Participe da promoção e ganhe prêmios!</p>
      <form action="">
       <span><img width="30px" height="20px" src="https://image.flaticon.com/icons/svg/1546/1546478.svg"></span> <input type="text" placeholder="DIGITE SEU CÓDIGO">
        <button class="btn-valid">Validar<span class="glyphicon glyphicon-chevron-right buttonIcon"></span></button>
      </form>
    </div>
  </div>
  <div class="background-right"></div>
</section>